.container {
  margin-top: 20px;
}

.page {
  display: none;
}

.page-active {
  display: block;
}




.alert-box.success {
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}

.alert-box.homethanku {
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}

.errorMsgs.notification {
  position: relative;
  width: 100%;
  float: left;
}

.errorMsgs.notification .alert-box.homethanku {
  color: #fc2779;
  background-color: #ffffff;
  border-color: #bfb7ba;
  display: none;
  top: 95px;
  max-width: 335px;
  border: 1px solid #d5d5df;
  font-weight: 400;
}



.alert-box.homecheck {
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}

.alert-box.failure {
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}

.warning{
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}

.alert-box .warning{
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}
/*  .failure[_ngcontent-c3]{
        position: absolute;
        top: -66px;9
        width: 53%;
        left: 330px;
       }
       .success{
        position: absolute;
        top: -66px;
        width: 53%;
        left: 330px;
       }
       */
.errorMsgs {
  position: fixed;
  font-weight: 900;
  bottom: 100px;
  width: 100%;
  -webkit-transition: bottom .4s;
  transition: bottom .4s;
  left: 50%;
  z-index: 1049!important;
}

.alert-box {
  left: 0% !important;
  position: absolute !important;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  top: unset;
  top: unset;
}
