<!DOCTYPE html>
<html lang="en">
<ng4-loading-spinner> </ng4-loading-spinner>

<body>
  <app-header></app-header>

  <section class="headerFixed">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-md-12 col-xl-12">
          <div class="top_activate">
            <div class="activate_account">
              <h1>Reset Your Password</h1>
            </div>
            <p>We will send you an email to reset your password. </p>
            <div class="errorMsg">
                <div class="alert-box failure">Customer does not exist. !!!</div>
                <div class="alert-box success">Thanku !!!</div>
              </div>
            <form [formGroup]="registerFormId" (ngSubmit)="onLogin()" >
              <div class="form-group">
                <input type="email" formControlName="email" maxlength="35" placeholder="Enter your email"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="loginVali">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>

              </div>

          
              <div class="sign-up-me">
                <button class="pink-btn">SUBMIT <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </button>
              </div>
          
           

            </form>

      
          </div>
        </div>
      </div>

    </div>


  </section>

  <!-- start-main-footer -->

  <app-footer></app-footer>


  <script>
    $('.f-menu .collapse').collapse();

  </script>

</body>

</html>
