.alert-box.success {
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}

.alert-box.failure {
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}

.alert-box.warning {
  color: #de4578;
  background-color: #ffffff;
  border-color: #de4578;
  display: none;
  border: 1px solid #c9c9c9;
  font-weight: 400;
}

.errorMsgs {
  position: fixed;
  font-weight: 900;
  bottom: 100px;
  width: 100%;
  z-index: 1050;
  -webkit-transition: bottom .4s;
  transition: bottom .4s;
  left: 50%;
  font-weight: 400;
}

.alert-box.myclass {
  left: 0% !important;
  position: absolute !important;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  top: unset;
  top: unset;
}

.errorMsgs.notification {
  position: relative;
  left: 0;
  width: 100%;
  float: left;
  height: 0px;
  bottom: 0;
  margin-bottom: 10px;
}

element.style {
display: none;
}

.errorMsgs.notification .alert-box {
  left: 50%!important;
  transform: translateX(-50%);
  position: absolute;
  }