<!DOCTYPE html>
<html lang="en">
<ng4-loading-spinner> </ng4-loading-spinner>

<body>
  <app-header></app-header>

  <section class="headerFixed">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-md-12 col-xl-12">
          <div class="top_activate">
            <div class="activate_account">
              <h1>Activate Account</h1>
              <p>Create Your password to activate Your account</p>
            </div>


            <form name="passwordForm" method="post" id="passwordForm"
            [formGroup]="registerFormId" (ngSubmit)="onLogin()">
              <div class="form-group">
                <input type="password" name="password" formControlName="password" minlength="6" maxlength="20"  placeholder="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && g.password.errors }" />
                <div *ngIf="submitted && g.password.errors" class="invalid-feedback">
               
                  <div *ngIf="g.password.errors.required">Password is required</div>
                  <div *ngIf="g.password.errors.minlength">Password must be at least 6 characters</div>

                </div>

              </div>
              <div class="form-group">
                <input type="password" formControlName="ConfirmPassword" minlength="6" maxlength="20" name="ConfirmPassword" placeholder="confirm Password"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && g.password.errors }" />
                <div *ngIf="submitted && g.ConfirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="g.ConfirmPassword.errors.required">Confirm Password is required</div>                      
                  <div  *ngIf="g.errors?.doesMatchPassword">Password does not match</div>
           
          
 

                </div>

              </div>

              <div>
                <button class="pink-btn">Activate <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>


  </section>

  <!-- start-main-footer -->

  <app-footer></app-footer>


  <script>
    $('.f-menu .collapse').collapse();

  </script>

</body>

</html>
