<!DOCTYPE html>
<html lang="en">

<body>
  <app-header></app-header>
  <section class="headerFixed ">
    <div class="bred">
      <div class="container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/AboutUs']"  >About Us</a></li>
            <li><a [routerLink]="['/Ingredients']"  routerLinkActive="active">Ingredients</a></li>
          </ul>
      </div>
    </div>
    <div class="ingredients-banner">
      <img src="../assets/images/ing.jpg" alt="ingredients">
      <span class="intredients"></span>

      <div class="ingredients-data">
        <h1>Ingredients</h1>
        <span class="gredient-box-box"></span>
      </div>
    </div> <!-- blog banner -->


    <div class="made-with-love-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="Made-with-sec text-center">
              <h4 class="made-title">Made with Love</h4>
              <p class="made-text">Inner Beauty is made with love for you,for your skin and your body.We care about you
                and the products you put on your skin,your largest organ.Loream ipsum dolor sit amet,consectetuer
                adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat.Ut wisi enim ad vaniam,quis nosturd exercitationullamcorper suscipit loibortis nisl ut aliquip
                ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <hr>
      </div>
    </div>


    <div class="natural-clean-sec">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="natural-sec">
              <img src="../assets/images/natural-img.png" alt="natural">
              <h1 class="natural-heading">Natural</h1>
              <p class="natural-text">At the heart of every inner Beauty formula are natural ingredients OR We love
                natural ingredients
                and use them at the heart of our formulas.Our formulas are comprised of more then 85% natural
                ingredients.We define "natural"
                as an ingredient that is derived from the earth,including water.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="clean-sec">
              <img src="../assets/images/clean-img.png" alt="clean">
              <h1 class="clean-heading">Clean</h1>
              <p class="clean-text">Sometimes natural is not enough because we need something more to protect our
                delicate formulas.
                We use clean ingredients that help balance the natural for better performance and iongevity of our
                product.We define
                "Clean"as a synthetic ingredient that will not cause harm.</p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="natural-clean-2">
            <img src="../assets/images/nrcl.png" alt="nrcl">
            <h1 class="natural-heading">Natural + Clean</h1>
            <p class="natural-text">Many synthetic ingredients have a bad rep just because thay are not natural. We
              believe that not all synthetic ingredients are bad for you,and not all natural ingredients are goodfor
              you-think poisn ivY.We believe that in order to optimize the performance of the natural,sometimes you
              must use synthetic ingredients-as long as they are safe.At inner Beauty,we definre the vision of our
              products as "naturally clean"by balancing the benefits of nature with science.</p>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="content-icon-sec">
    <div class="container">
      <div class="ingredientss">
        <div class="row">

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="icon-left-box">
              <img src="../assets/images/safety.png" alt="safety">
              <h3 class="content-icon-heading">Safety</h3>
              <p class="content-icon-text">We hand select and analyze each and every ingredient in our formulas to
                ensure
                efficacy and safety. All formulas are patch tested by subjects with sensitive skin.Every batch is tested
                for pesticide residue and heavy metals.Soyou can rest assured that our formula are safe.For you. For
                us. Foreveryone.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="icon-left-box">
              <img src="../assets/images/toxic.png" alt="toxic">
              <h3 class="content-icon-heading">Non-toxic</h3>
              <p class="content-icon-text">All of our product are free from toxic,harmful ingredients.This is a list of
                the most importent/top 10/20 ingredients we don't use in our product.The complete list is very long-19
                pages,to be exact.We won't bore you with the list of ingredients we don't use-you don't need to know
                what
                they are or what they do,because we don't use them-and never will.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="icon-left-box">
              <img src="../assets/images/words.png" alt="words">
              <h3 class="content-icon-heading">No"F"Words</h3>
              <p class="content-icon-text">You will never see anything labeled as "fragrance"or "flavor"on our
                ingredient
                lists.We use scents from real ingredients,like pure Vanilla Extract and Lemon seed Oil.</p>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="icon-left-box">
              <img src="../assets/images/allergens.png" alt="allergens">
              <h3 class="content-icon-heading">Free from Allergens</h3>
              <p class="content-icon-text">All of our formulas are free commonallergens:Gluten,Soy Peanuts,Tree Nuts and
                Corn. Our products are certified Gluten-Free by the Gluten Intolerance Group of North America.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="icon-left-box">
              <img src="../assets/images/gmo.png" alt="gmo">
              <h3 class="content-icon-heading">Non-GMO</h3>
              <p class="content-icon-text">All inner Beauty ingredients and products are free from Genetically Modified
                Organisms.We are certified by the Non-GMO Pproject.</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="icon-left-box">
              <img src="../assets/images/Cruelty.png" alt="Cruelty">
              <h3 class="content-icon-heading">Cruelty Free</h3>
              <p class="content-icon-text">All inner Beauty ingredients and products are free from Genetically Modified
                Organisms.We are certified by the Non-GMO Pproject.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="not-sure-where-sec">
    <div class="container ingridents-container">
      <div class="ingri-bottom">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="not-sure-inner-part">
              <p class="not-sure-text">Parabens</p>
              <p class="not-sure-text">Phthalates</p>
              <p class="not-sure-text">Endocrine Disruptore</p>
              <p class="not-sure-text">Carcinogens</p>
              <p class="not-sure-text">PEG's</p>
              <p class="not-sure-text">Petroleum Derivatives</p>
              <p class="not-sure-text">Developmental and Reproductive Toxins</p>
              <p class="not-sure-text">BHA</p>
              <p class="not-sure-text">BHT</p>
              <p class="not-sure-text">Ethanolamines-linked to cancer</p>
              <p class="not-sure-text">Ethoxylated ingredients</p>
              <p class="not-sure-text">Carcinogens</p>
              <p class="not-sure-text">PEGs</p>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="not-sure-inner-part1">
              <p class="not-sure-text1">NOT SURE WHERE <br>THESE FIT IN THE DESIGN<br>??????????????</p>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="not-sure-inner-part">
              <p class="not-sure-text">Polysorbate-20</p>
              <p class="not-sure-text">Polysorbate-40</p>
              <p class="not-sure-text">SLES</p>
              <p class="not-sure-text">Ammonium Laureth Sulfate</p>
              <p class="not-sure-text">Genotoxicity </p>
              <p class="not-sure-text">Developmental/Reproductive Toxins</p>
              <p class="not-sure-text">Dangerous Substances</p>
              <p class="not-sure-text">Formaldehyde,Formaldehyde releasers,Formaldehyde donors:</p>
              <p class="not-sure-text">Dmdm Hydantoin</p>
              <p class="not-sure-text">Nanoparticles</p>
              <p class="not-sure-text">Paraffin</p>
              <p class="not-sure-text">Endocrine Disruptors</p>
              <p class="not-sure-text">Carcinogen,Mutagen orToxic of Reproduction</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <script>
    $('.f-menu .collapse').collapse();

  </script>
</body>

</html>
